*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li{
  list-style-type: none;
}

a{
  text-decoration: none;
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
}

footer{
  text-align: center;
  height: 10vh;
  bottom: 0;
  position: fixed;
  width: 100vh;
}