*{
    margin: 0;
    padding: 0;
}

li{
    list-style-type: none;
}

body{
    background-color: blanchedalmond;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}